/* navbar and body for all pages */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding-top: 80px;
}
.navbar {
  border-radius: 0;
  border: 0;
}
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 20px;
}
.navbar-nav.navbar-right {
  float: right;
}

/* other */

h4 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
section {
  margin-top: 12px;
}
