/* navbar and body for all pages */

body {
  padding-top: 80px;
}
.navbar-fixed-top {
  border: 0;
  font-size: 14px;
}
.navbar {
  border-radius: 0;
  border: 0;
}
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 20px;
}
.navbar-nav.navbar-right {
  float: right;
}
