---
---

@import "{{ site.theme }}";

.inner {
  max-width: 1000px;
}

img {
  max-width: 1000px;
  @media screen and (max-width: 1000px) {
    max-width: 100%;
  }
}

#main_content_wrap {
  background: #fafafa;
}
#header_wrap {
  background-color: #030303;
  background-image: none;
}
#footer_wrap {
  background-color: #292e34;
}

#header_wrap .inner {
  max-width: 100%;
  padding: 10px;
}

#project_title a {
  color: #fff;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
}
