#header_wrap {
  background-color: #030303;
  background-image: none;
  border-top: 3px solid #cc0000;
  width: 100%;
}

#main_content_wrap {
  background: #fff;
  width: auto;
}

#footer_wrap {
  background-color: #030303;
  width: 100%;
}
