<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">
  <title>{{ site.title | default: site.github.repository_name }}</title>
  <link rel="icon" type="image/png" href="../../img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="../../img/favicon-16x16.png" sizes="16x16">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.25.1/css/patternfly.min.css" rel="stylesheet" type="text/css" media="screen">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly-additions.min.css" rel="stylesheet" type="text/css">
  <link href="../../css/kie-ux-sandbox.css" rel="stylesheet" type="text/css" media="screen">
</head>
<body>
  <!-- header -->
  <nav class="navbar navbar-default navbar-pf">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        UXD Sandbox
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-collapse-1">
      <ul class="nav navbar-nav navbar-primary">
        <li>
          <a href="{{ site.baseurl }}/">Sandbox</a>
        </li>
        <li>
          <a href="/kie-uxd-sandbox/personas.html">Personas</a>
        </li>
        <li>
          <a href="/kie-uxd-sandbox/guide.html">Style Guide</a>
        </li>
        <li class="pull-right-lg">
          <a href="https://github.com/kiegroup/kie-uxd-sandbox">GitHub</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- main -->
  <div class="container">
    <div class="row">
      {{ content }}
    </div>
  </div>
</body>
</html>
